<html>
    <head>
        <title>Emp</title>
    </head>
    <body>
        {% if emp_list %}
        <table>
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Address</th>
            </thead>
            {% for emp in emp_list %}
            <tr>
                <td>{{emp.id}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.address}}</td>
            </tr>   
            {% endfor %}
        </table>
        {% else %}
        <p>No Data found</p>
        {% endif %}
    

    </body> 
</html>
